#If ignorance is bliss, then somebody knock the smile off my face

*.csproj.user
*.suo
*.cache
Thumbs.db
*.DS_Store

*.bak
*.cache
*.log
*.swp
*.user

node_modules








 
.idea/cordova-plugin-inappbrowser.iml

.idea/encodings.xml

.idea/modules.xml

.idea/misc.xml

.idea/sbt.xml

.idea/vcs.xml

.idea/workspace.xml
